<section class="bg-[#597445] text-[#E7F0DC] py-16 flex">
  <div
    class="flex flex-col gap-12 items-center justify-center mx-auto md:flex-row-reverse"
  >
    <div
      class="relative w-[360px] h-[360px] md:w-[240px] md:h-[240px] xl:w-[480px] xl:h-[480px]"
    >
      <img ngSrc="/hero image transparent.png" [fill]="true" alt="Hero Image" />
    </div>

    <div class="w-[387px] flex flex-col gap-8 items-start">
      <div class="flex flex-col gap-6">
        <h1 class="font-bold text-[32px] md:text-[28px] xl:text-4xl">
          Everything you need in one package
        </h1>

        <p class="text-lg md:text-base xl:text-lg">
          From web, mobile, desktop. You name it, we make it! We provide a
          comprehensive software development solutions for your needs. May it be
          a Single-Page Applications (SPAs) or Server-Side Rendering (SSR), we
          provide the best solution for your problem!
        </p>
      </div>

      <button
        class="bg-[#E7F0DC] text-[#597445] text-base font-bold p-3 rounded-xl"
      >
        Start now!
      </button>
    </div>
  </div>
</section>
